# Target URL
TARGET_URL=https://shop.royalchallengers.com/ticket
CHECK_INTERVAL=60

# Gmail SMTP (get App Password: https://myaccount.google.com/apppasswords)
GMAIL_ADDRESS=your_email@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
NOTIFY_EMAIL=your_email@gmail.com
